
{% extends "base_site1.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<form method="post" action=".">{% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Forgot password" %}? <a href="/rentsystem/accounts/password/reset/">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="/rentsystem/accounts/register">{% trans "Register" %}</a>!</p>
{% endblock %}
