{% extends "base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<h1>Home</h1>
<div id="content-main">


    
        <div class="module">
        <table>
        <caption>
            <aclass="section" title="Main">
                {% blocktrans  %}Main{% endblocktrans %}</a>
		</caption>
			<tr>
			<th><a href="rentsystem/main/checkin">Check In</a> <br><br> Check Out</th>
            </tr>
        </table>
        </div>

		<div class="module">
        <table>
        <caption>
            <aclass="section" title="Accounts">
                {% blocktrans  %}Accounts{% endblocktrans %}</a>
		</caption>
			<tr>
			<th>Collect Ammount <br><br> Ammount Not Recieved</th>
            </tr>
        </table>
        </div>
		

		<div class="module">
        <table>
        <caption>
            <aclass="section" title="Profile">
                {% blocktrans  %}Profile{% endblocktrans %}</a>
		</caption>
			<tr>
			<th><a href="rentsystem/main/viewprofile">Search Profile</a> <br><br> Edit Profile</th>
            </tr>
        </table>
        </div>



</div>
{% endblock %}


